@import "tailwindcss";

.ios-gradient {
  background: linear-gradient(135deg, #4f46e5 0%, #a855f7 100%);
}

.btn-gradient {
  background: linear-gradient(90deg, #6366f1 0%, #a855f7 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Inter", sans-serif;
  min-height: max(884px, 100dvh);
}

.gradient-bg {
  background: linear-gradient(135deg, #4f46e5 0%, #a855f7 100%);
}

.ios-shadow {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
}